<footer class="blog_footer">
    <div class="wrapper">
    	<div class="blog_footer_text">
    	    <a class="fa fa-fw fa-twitter" href="http://twitter.com/aeghi" target="_blank"></a>
    	    <a class="fa fa-fw fa-facebook" href="http://facebook.com/sun.xiangyan" target="_blank"></a>
    	    <a class="fa fa-fw fa-google-plus" href="http://plus.google.com/112321354456217826179" target="_blank"></a>
    	    <a class="fa fa-fw fa-github" href="http://github.com/wishstudio" target="_blank"></a>
    	    <a class="fa fa-fw fa-stack-overflow" href="http://stackoverflow.com/users/1178493/xiangyan-sun" target="_blank"></a>
    	    <a class="fa fa-fw fa-bitbucket" href="http://bitbucket.org/wishstudio" target="_blank"></a>
    	</div>
        <div class="blog_footer_text"><a href="http://github.com/wishstudio/gray">Gray</a> theme by <a href="http://xysun.me">Xiangyan Sun</a></div>
        <div class="blog_footer_text">Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a></div>
    </div>
</footer>