<footer class="blog_footer">
    <div class="blog_footer_text">Gray theme by <a href="http://xysun.me">Xiangyan Sun</a></div>
    <div class="blog_footer_text">Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a></div>
</footer>