<footer class="blog-footer">
    <div class="wrapper">
        <section><a href="http://github.com/wishstudio/gray">Gray</a> theme by <a href="http://xysun.me">Xiangyan Sun</a></section>
        <section>Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a></section>
    </div>
</footer>