<span class="social-links">
    <a class="fa-fw fa-stack" href="{{@blog.url}}/rss" title="RSS" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-fw fa-stack" href="mailto:wishstudio@gmail.com" title="Email" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-fw fa-stack" href="http://github.com/wishstudio" title="Github" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-fw fa-stack" href="http://stackoverflow.com/users/1178493/xiangyan-sun" title="Stack overflow" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-fw fa-stack" href="http://twitter.com/aeghi" title="Twitter" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-fw fa-stack" href="http://facebook.com/sun.xiangyan" title="Facebook" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-fw fa-stack" href="http://plus.google.com/u/0/112321354456217826179/posts" title="Google+" target="_blank">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </a>
<span>