<span class="social-links">
    <a class="fa fa-fw fa-rss" href="{{@blog.url}}/rss" title="RSS" target="_blank"></a>
    <a class="fa fa-fw fa-github" href="http://github.com/wishstudio" title="Github" target="_blank"></a>
    <a class="fa fa-fw fa-stack-overflow" href="http://stackoverflow.com/users/1178493/xiangyan-sun" title="Stack overflow" target="_blank"></a>
    <a class="fa fa-fw fa-twitter" href="http://twitter.com/aeghi" title="Twitter" target="_blank"></a>
    <a class="fa fa-fw fa-facebook" href="http://facebook.com/sun.xiangyan" title="Facebook" target="_blank"></a>
    <a class="fa fa-fw fa-google-plus" href="http://plus.google.com/u/0/112321354456217826179/posts" title="Google+" target="_blank"></a>
    <a class="fa fa-fw fa-envelope" href="mailto:wishstudio@gmail.com" title="Email" target="_blank"></a>
</span>