{{!< default}}
<main class="blog-main" role="main">
    <div class="wrapper">
        {{#foreach posts}}
        <article role="article" class="{{post_class}}">
            {{> post-header }}

            <section class="post-excerpt">
                <p>{{excerpt}}...</p>
            </section>

            <section class="post-readmore">
                <p><a href="{{url}}">READ MORE</a></p>
            </section>
            <hr />
        </article>
        {{/foreach}}

        {{{pagination}}}
    </div>
</main>
