{{!< default}}
<main class="blog-main" role="main">
    <div class="wrapper">
        <article class="{{post_class}}">
            {{#post}}
            {{> post-header }}
            <section class="post-content">
                {{content}}
            </section>
            {{/post}}
        </article>
        <hr />
        {{> comment }}
    </div>
</main>
