@import 'variables';
@import 'utilities';

body {
	margin: 0;
	font-family: $serif-font;
	font-size: 1.2em;
	line-height: $golden;
}

.wrapper {
	max-width: 50rem;
	margin: 0 auto;
	padding-left: $golden * 2;
	padding-right: $golden * 2;
	padding-top: $golden;
	padding-bottom: $golden;
}
.blog_main {
	width: 100%;
	background-color: $primary;

	.wrapper {
		background-color: white;
	}
}
.blog_header {
	margin: 0 auto;
	background-color: $secondary;
}
.blog_footer {
	text-align: right;
	background-color: $dark;
	color: $gray-darker;
	a:link, a:visited {
		color: $gray-dark;
	}
	a:active, a:hover {
		color: white;
	}
}

a {
	@include transition(0.3s);
	background: transparent;
	text-decoration: none;
}

a:link, a:visited {
	color: darken($secondary, 30%);
}
a:active, a:hover {
	color: $bright;
}

blockquote {
	background: $secondary;
	border-left: 0.5rem solid darken($secondary, 10%);
	margin: 0 0;
	padding: 0rem 2rem;
	font-style: italic;
}

code {
	font-family: $monospace-font;
}

pre {
	background-color: $secondary;
	border: 0.063rem solid darken($secondary, 10%);
}

hr {
	border: 0;
	border-top: 0.063rem solid $primary;
}

@mixin header-font {
	font-family: $sans-font;
	font-weight: lighter;
	line-height: 1.313em;
	a:link, a:visited, a:active, a:hover {
		color: $bright;
	}
}

h1 {
	@include header-font;
	font-size: 3em;
	margin: 0.563em 0;
}

h2 {
	@include header-font;
	font-size: 2.25em;
	margin: 0.625em 0;
}

h3 {
	@include header-font;
	font-size: 1.5em;
	margin: 1.313em 0;
}

h4 {
	@include header-font;
	font-size: 1.313em;
	margin: 1.313em 0;
}

h5 {
	@include header-font;
	font-size: 1.125em;
	margin: 1.313em 0;
}

h6 {
	@include header-font;
	font-size: 1em;
	margin: 0.75em 0;
}

img {
	border: 0;
	max-width: 100%;
}
