@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($time) {
  -webkit-transition: $time;
     -moz-transition: $time;
      -ms-transition: $time;
       -o-transition: $time;
          transition: $time;
}