$gray-lightest:     #F8F8F8;
$gray-lighter:      #EEEEEE;
$gray-light:        #DDDDDD;
$gray:              #CCCCCC;
$gray-dark:         #999999;
$gray-darker:       #666666;
$gray-darkest:      #333333;

$golden: 1.618em;

$primary:        #F4EEE2;
$secondary:      #F0F7FF;
$dark:           #112233;
$bright:         #FF622B;
$solid:          #FF7572;

$sans-font: 'Roboto', sans-serif;
$serif-font: 'Gentium Basic', serif;
$monospace-font: 'Inconsolata', monospace;