body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.618em; }

.wrapper {
  max-width: 58em;
  margin: 0 auto;
  padding-left: 3.236em;
  padding-right: 3.236em;
  padding-top: 1.618em;
  padding-bottom: 1.618em; }

.blog_main {
  width: 100%;
  background-color: #f4eee2; }
  .blog_main .wrapper {
    background-color: white; }

.blog_header {
  margin: 0 auto;
  background-color: #FFFFFF; }

.blog_footer {
  background-color: #333333; }

a {
  background: transparent;
  text-decoration: none; }

a:link, a:visited {
  color: #970101; }

a:active, a:hover {
  color: #fe3333; }

blockquote {
  background: #f4eee2;
  border-left: 0.5rem solid #d8c398;
  margin: 0 0;
  padding: 0rem 2rem;
  font-style: italic; }

pre {
  background-color: #f4eee2;
  border: 0.063rem solid #e6d8bd; }

hr {
  border: 0;
  border-top: 0.063rem solid #f4eee2; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-size: 3em;
  margin: 0.563em 0; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-size: 2.25em;
  margin: 0.625em 0; }

h3 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-size: 1.5em;
  margin: 1.313em 0; }

h4 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-size: 1.313em;
  margin: 1.313em 0; }

h5 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-size: 1.125em;
  margin: 1.313em 0; }

h6 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-size: 1em;
  margin: 0.75em 0; }

img {
  border: 0;
  max-width: 100%; }
