body {
  margin: 0;
  font-family: "Gentium Basic", serif;
  font-size: 1.2em;
  line-height: 1.618em; }

.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 3.236em;
  padding-right: 3.236em;
  padding-top: 1.618em;
  padding-bottom: 1.618em; }

.blog_main {
  width: 100%;
  background-color: #f4eee2; }
  .blog_main .wrapper {
    background-color: white; }

.blog_header {
  margin: 0 auto;
  background-color: #f0f7ff; }

.blog_footer {
  text-align: right;
  background-color: #112233;
  color: #666666; }
  .blog_footer a:link, .blog_footer a:visited {
    color: #999999; }
  .blog_footer a:active, .blog_footer a:hover {
    color: white; }

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
  text-decoration: none; }

a:link, a:visited {
  color: #57a5ff; }

a:active, a:hover {
  color: #ff622b; }

blockquote {
  background: #f0f7ff;
  border-left: 0.5rem solid #bddcff;
  margin: 0 0;
  padding: 0rem 2rem;
  font-style: italic; }

code {
  font-family: "Inconsolata", monospace; }

pre {
  background-color: #f0f7ff;
  border: 0.063rem solid #bddcff; }

hr {
  border: 0;
  border-top: 0.063rem solid #f4eee2; }

h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.313em;
  font-size: 3em;
  margin: 0.563em 0; }
  h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
    color: #ff7572; }

h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.313em;
  font-size: 2.25em;
  margin: 0.625em 0; }
  h2 a:link, h2 a:visited, h2 a:active, h2 a:hover {
    color: #ff7572; }

h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.313em;
  font-size: 1.5em;
  margin: 1.313em 0; }
  h3 a:link, h3 a:visited, h3 a:active, h3 a:hover {
    color: #ff7572; }

h4 {
  font-family: "Roboto", sans-serif;
  line-height: 1.313em;
  font-size: 1.313em;
  margin: 1.313em 0; }
  h4 a:link, h4 a:visited, h4 a:active, h4 a:hover {
    color: #ff7572; }

h5 {
  font-family: "Roboto", sans-serif;
  line-height: 1.313em;
  font-size: 1.125em;
  margin: 1.313em 0; }
  h5 a:link, h5 a:visited, h5 a:active, h5 a:hover {
    color: #ff7572; }

h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.313em;
  font-size: 1em;
  margin: 0.75em 0; }
  h6 a:link, h6 a:visited, h6 a:active, h6 a:hover {
    color: #ff7572; }

img {
  border: 0;
  max-width: 100%; }
